blueness
abcli
beautifulsoup4
boto3
geojson
geopandas
ipdb
matplotlib
networkx
opencv-python
pydot
pylint
pymysql==0.10.1
pytest
python-dotenv[cli]
pyyaml
requests
tqdm

# https://github.com/aws/amazon-sagemaker-examples/blob/main/introduction_to_amazon_algorithms/semantic_segmentation_pascalvoc/semantic_segmentation_pascalvoc.ipynb
# sagemaker>=2,<3

# on mac
# folium